* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form#intervalForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

p.chyba:not(:empty) {
    color: #fff;
    background-color: #ff7a7a;
    padding: 1rem;
    font-size: 1rem;
}

div.vysledky {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.5rem;
}

span.vysledok {
    background-color: #e6e6e6;
    padding: 0.15rem;
    border-radius: 0.15rem;
}